<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5" data-provider-thread-count="1">

	<listeners>
		<listener class-name="ru.st.selenium.listeners.TestListener"/>
	</listeners>

	<test name="TestGrandRioCasino">
		<!-- <parameter name="path" value="/"/> -->
		<parameter name="path" value="https://test.grandrio.com"/>
		<classes>
		    <!-- <class name="ru.st.selenium.LoginTestRio"/>  -->
            <!-- <class name="ru.st.selenium.AddNewUser"/>  -->
            <class name="ru.st.selenium.MicrogamingTest"/>
		</classes>
	</test>  
</suite>

